*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 209, 209);
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  color: #333333;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}


/* index.html styles */
.main-header {
  background-color: #ffffff;
  width: 1200px;
  position: relative;
}

.main-nav {
  background-color: #ffffff;
}

.main-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav li {
  width: 240px;
  list-style: none;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 0;
}

.main-nav li:nth-child(1),
.main-nav li:nth-child(2) {
  padding-left: 72px;
}

.main-nav li:nth-child(2) {
  margin-right: 240px;
}

.main-nav li:nth-child(3) {
  padding-left: 78px;
}

.main-nav li:nth-child(4) {
  padding-left: 89px;
}

.main-nav li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 530px;
  bottom: -8px;
  z-index: 1;
}

.welcome-sedona {
  background-image: url("../img/sedona-main.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 90px;
  margin-bottom: 30px;
  text-align: center;
}

.slogan {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
}

.slogan b {
  font-size: 21px;
  line-height: 26px;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
}

.features-blue {
  display: flex;
}

.features-blue .features-item {
  background-color: #81b3d2;
  width: 400px;
  text-align: center;
  padding: 53px 60px;
}

.features-blue .features-item b {
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-blue .features-item span {
  font-size: 14px;
  line-height: 21px;
}

.features-blue .features-item p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 25px;
}

.features-blue .features-image {
  width: 800px;
  font-size: 0;
  line-height: 0;
}

.details {
  display: flex;
}

.details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding-top: 60px;
}

.details-item img {
  margin-bottom: 30px;
}

.details-item b {
  font-size: 21px;
  line-height: 21px;
}

.details-item p {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 83px;
  text-align: center;
}

.details-item:first-child p {
  padding-left: 73px;
  padding-right: 73px;
}

.details-item:nth-child(2) p {
  padding-left: 60px;
  padding-right: 55px;
}

.details-item:last-child p {
  padding-left: 67px;
  padding-right: 61px;
}

.features-blue-2 {
  display: flex;
}

.features-blue-2 .features-image {
    width: 800px;
    font-size: 0;
    line-height: 0;
}

.features-blue-2 .features-item {
  background-color: #81b3d2;
  width: 400px;
  text-align: center;
  padding: 53px 60px;
}

.features-blue-2 .features-item b {
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-blue-2 .features-item span {
  font-size: 14px;
  line-height: 21px;
}

.features-blue-2 .features-item p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}

.features-grey {
  display: flex;
}

.features-grey .features-item {
  background-color: #eeeeee;
  width: 400px;
  text-align: center;
  padding: 53px 60px;
}

.features-grey .features-item b {
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-grey .features-item span {
  font-size: 14px;
  line-height: 21px;
}

.features-grey .features-item p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}

.request {
  background-color: #ffffff;
  text-align: center;
}

.request h2 {
  display: block;
  padding-top: 58px;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 24px;
}

.request p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 55px;
}

.request a {
  display: block;
  width: 570px;
  height: 86px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  color:rgb(255, 255, 255);
  background-color: #766357;
  padding: 32px 140px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.map {
  height: 593px;
  background-image: url("../img/sedona-maps.jpg");
}


/* pop-up */
main {
  position: relative;
}

.hotel-search {
  background-color: rgb(255, 255, 255);
  width: 570px;
  height: 395px;
  position: absolute;
  top: 2135px;
  left: 315px;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 55px;
}

.flex-list li {
  list-style: none;
}

.flex-list li label {
  padding-left: 55px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.flex-list li input[type="text"] {
  padding-left: 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.flex-list li:nth-child(1) {
  margin-bottom: 30px;
}

.flex-list li:nth-child(1) label {
  width: 112px;
  margin-right: 21px;
}

.flex-list li:nth-child(1) input[type="text"] {
  width: 345px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.flex-list li:nth-child(2) {
  margin-bottom: 30px;
}

.flex-list li:nth-child(2) label {
  width: 112px;
  margin-right: 17px;
}

.flex-list li:nth-child(2) input[type="text"] {
  width: 345px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.flex-list li:nth-child(3) {
  margin-bottom: 55px;
}

.flex-list li:nth-child(3) label {
  width: 112px;
  margin-right: 37px;
}

.flex-list li:nth-child(3) input[type="text"] {
  text-align: center;
  width: 115px;
  height: 40px;
  margin-right: 53px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.flex-list li:nth-child(4) {
  margin-bottom: 54px;
}

.flex-list li:nth-child(4) label {
  padding-left: 0;
  width: 66px;
  margin-right: 20px;
}

.flex-list li:nth-child(4) input[type="text"] {
  text-align: center;
  width: 115px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.flex-list li:nth-child(5) input[type="submit"] {
  margin-left: 55px;
  margin-right: 55px;
  width: 459px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:rgb(255, 255, 255);
  background-color: #81b3d2;
  border: none;
  outline: none;
}

/* footer */
.main-footer {
  background-color: #ffffff;
  display: flex;
}

.footer-hashtag {
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sedona-hashtag {
  display: block;
  padding-top: 50px;
  padding-left: 132px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.footer-social {
  display: flex;
  align-items: center;
  width: 400px;
  padding-left: 124px;
}

.social-btn {
  margin-right: 6px;
  font-size: 0;
  background-color: #81b3d2;
  background-image: url("../img/sprite.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;

}

.social-btn-tw {
  width: 17px;
  height: 15px;
  background-position: -237px -172px;

}

.social-btn-fb {
  width: 10px;
  height: 19px;
  background-position: -47px -79px;
}

.social-btn-yt {
  width: 20px;
  height: 16px;
  background-position: -165px -230px;
}

.footer-copyright {
  display: flex;
  width: 400px;
  padding-left: 100px;
}

.footer-copyright span {
  margin-right: 8px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 50px;
  width: 75px;
}

.footer-copyright .btn {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 113px;
}





/*spites*/
/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-down {
    width: 11px;
    height: 10px;
    background-position: -7px -7px;
}

.sprite-arrow-down-hover {
    width: 11px;
    height: 10px;
    background-position: -32px -7px;
}

.sprite-arrow-down-press {
    width: 11px;
    height: 10px;
    background-position: -57px -7px;
}

.sprite-arrow-up {
    width: 11px;
    height: 10px;
    background-position: -82px -7px;
}

.sprite-arrow-up-hover {
    width: 11px;
    height: 10px;
    background-position: -107px -7px;
}

.sprite-arrow-up-press {
    width: 11px;
    height: 10px;
    background-position: -132px -7px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -157px -7px;
}

.sprite-calendar-hover {
    width: 21px;
    height: 22px;
    background-position: -192px -7px;
}

.sprite-calendar-press {
    width: 21px;
    height: 22px;
    background-position: -7px -43px;
}

.sprite-checkbox-empty {
    width: 22px;
    height: 22px;
    background-position: -42px -43px;
}

.sprite-checkbox-empty-blocked {
    width: 22px;
    height: 22px;
    background-position: -78px -43px;
}

.sprite-checkbox-empty-hover {
    width: 22px;
    height: 22px;
    background-position: -114px -43px;
}

.sprite-checkbox-selected {
    width: 26px;
    height: 22px;
    background-position: -150px -43px;
}

.sprite-checkbox-selected-blocked {
    width: 26px;
    height: 22px;
    background-position: -190px -43px;
}

.sprite-checkbox-selected-hover {
    width: 26px;
    height: 22px;
    background-position: -7px -79px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -47px -79px;
}

.sprite-fb-click {
    width: 10px;
    height: 19px;
    background-position: -71px -79px;
}

.sprite-fb-hover {
    width: 10px;
    height: 19px;
    background-position: -95px -79px;
}

.sprite-htmlacademy {
    width: 113px;
    height: 39px;
    background-position: -119px -79px;
}

.sprite-htmlacademy-hover {
    width: 113px;
    height: 39px;
    background-position: -7px -132px;
}

.sprite-htmlacademy-press {
    width: 113px;
    height: 39px;
    background-position: -7px -185px;
}

.sprite-icon-2-stars {
    width: 42px;
    height: 17px;
    background-position: -134px -132px;
}

.sprite-icon-3-stars {
    width: 65px;
    height: 17px;
    background-position: -134px -163px;
}

.sprite-icon-4-stars {
    width: 89px;
    height: 17px;
    background-position: -134px -194px;
}

.sprite-icon-checkbox {
    width: 26px;
    height: 22px;
    background-position: -227px -7px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -230px -43px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -256px -43px;
}

.sprite-minus-press {
    width: 12px;
    height: 3px;
    background-position: -230px -60px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -256px -60px;
}

.sprite-plus-hover {
    width: 11px;
    height: 11px;
    background-position: -246px -85px;
}

.sprite-plus-press {
    width: 11px;
    height: 11px;
    background-position: -246px -110px;
}

.sprite-slider {
    width: 20px;
    height: 23px;
    background-position: -213px -135px;
}

.sprite-slider-hover {
    width: 20px;
    height: 23px;
    background-position: -247px -135px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -237px -172px;
}

.sprite-tw-click {
    width: 17px;
    height: 15px;
    background-position: -237px -201px;
}

.sprite-tw-hover {
    width: 17px;
    height: 15px;
    background-position: -134px -230px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -165px -230px;
}

.sprite-yt-click {
    width: 20px;
    height: 16px;
    background-position: -199px -230px;
}

.sprite-yt-hover {
    width: 20px;
    height: 16px;
    background-position: -233px -230px;
}
*/
