body {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
}

h1 {
  font-family: PT Sans ;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

h2 {
  font-family: PT Sans ;
  font-size: 30px;
  font-weight: bold;;
  line-height: 24px;
  color: #333333;
}
